<!-- Client/Pages/ExhibitDetails.razor -->
@page "/exhibits/{Id:long}"

@inject ExhibitService ExhibitService
@rendermode InteractiveServer
@using HeritageApi.Data.Entities;
@using Newtonsoft.Json;

<div class="spinner-container" style="display: @(isLoading ? "flex" : "none")">
    <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>

@if (exhibit is null)
{
    <p>Unable to get cultural heritage data. Please try again later.</p>
}
else
{
    <div class="header">
        <h1 class="text">@exhibit.Name</h1>
    </div>
    <div class="image-container">
        <img class="image" src="/uploads/@exhibit.DetailImageFileName" />
    </div>
    <div class="content-container">
        <p1>@exhibit.Description</p1>
    </div>
}
@code {
    [Parameter]
    public long Id { get; set; }
    private Exhibit exhibit { get; set; }
    //private bool getCulturalHeritageError;
    private bool shouldRender;
    private bool isLoading;
    protected override bool ShouldRender() => shouldRender;

    protected override async Task OnInitializedAsync()
    {
        isLoading = true;
        exhibit = await ExhibitService.GetExhibitByIdAsync(Id);
        isLoading = false;
        shouldRender = true;
    }
}
