@page "/exhibits"
@using Newtonsoft.Json
@inject IHttpClientFactory ClientFactory
@inject ExhibitService ExhibitService
<div class="header">
    <h1 class="text"> Список экспонатов</h1>
</div>


<div class="spinner-container" style="display: @(isLoading ? "flex" : "none")">
    <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>


@if (getCulturalHeritageError || Exhibits is null)
{
    <p>Unable to get cultural heritage data. Please try again later.</p>
}
else
{
    <div class="exhibit-container">
        @foreach (var exhibit in Exhibits)
        {
            <a href="/exhibits/@exhibit.Id">
                <ExhibitCard Source="@exhibit" />
            </a>
        }
    </div>
}

@code {
    private IEnumerable<Exhibit>? Exhibits = Array.Empty<Exhibit>();
    private bool getCulturalHeritageError;
    private bool shouldRender;


    bool isLoading = true;

    protected override bool ShouldRender() => shouldRender;

    protected override async Task OnInitializedAsync()
    {
        isLoading = true;
        Exhibits = await ExhibitService.GetExhibitsAsync();
        isLoading = false;
        shouldRender = true;
    }
}
