@using HeritageApi.Data.Entities
@inject NavigationManager NavigationManager
<div class="exhibit-card" @onclick="NavigateToExhibit" style="border: 1px solid #ccc; padding: 10px; margin: 10px; background-color: aquamarine; width: 400px; height: 400px;">
    @if (Source.ImageFileName != "")
    {
        <img src="/uploads/@Source.ImageFileName
        " alt="@Source.ImageFileName
        " width="50" height="50"/>
    }
    <h4>@Source.Name</h4>
    <p>@Source.Description</p>
</div>

@code {
    [Parameter]
    public Exhibit Source { get; set; } = null!;

    private void NavigateToExhibit()
    {
        NavigationManager.NavigateTo($"/exhibits/{Source.Id}");
    }
}