@using HeritageApi.Data.Entities
@inject NavigationManager NavigationManager

    <div class="exhibit" @onclick="NavigateToExhibit" style="background-color: rgba(0 0 0, 0.5); width: 350px; height: 350px;">
        @if (Source.PreviewImageFileName != null)
        {
        <img class="image" src="/uploads/@Source.PreviewImageFileName
                    " alt="@Source.PreviewImageFileName" />
        }
        <h1 class="text">@Source.Name</h1>
    </div>


@code {
    [Parameter]
    public Exhibit Source { get; set; } = null!;

    private void NavigateToExhibit()
    {
        NavigationManager.NavigateTo($"/exhibits/{Source.Id}");
    }
}